/* General styles & reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    margin: 15px 0;
    padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Slabo 27px', serif;
    font-weight: 300;
}

#allContent {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


/* Image related styles */

#imgContainer {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-flow: column wrap;
    max-height: 100vh;
    font-size: 0;
    align-items: center;
}

#imgContainer .imgWrapper {
    width: 50%;
}

#imgContainer .imgWrapper img {
    width: 100%;
}

@media screen and (min-width: 800px) {
    #imgContainer {
        max-height: 800px;
    }
    #imgContainer .imgWrapper {
        width: 33.3%;
    }
}


/* fallback for earlier versions of Firefox */

@supports not (flex-wrap: wrap) {
    div#imgContainer {
        display: block;
    }
    div#imgContainer .imgWrapper {
        display: inline-block;
        vertical-align: top;
    }
}
