/* General styles & reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
}

body {
    width: 100vw;
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    background-color: #00fdc8;
    text-align: center;
    padding: 2em 1em;
    margin: 3em 0 0;
}

section {
    margin: 15px 0;
    padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    margin: 35px 0;
    text-align: center;
}

#allContent {
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
}


/* Image related styles */

#imgContainer {
    -ms-flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    margin-bottom: 30px;
}

#imgContainer .imgWrapper {
    width: 100%;
    background-color: #ccc;
    margin: 4px 0;
    overflow: hidden;
}

#imgContainer .imgWrapper img {
    max-width: 100%;
    max-height: 100%;
}

#imgContainer .imgWrapper .imgInfo {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-shadow: 2px 5px 5px #000;
    position: relative;
    bottom: 20px;
    margin-left: 10px;
    margin-bottom: -20px;
}

#imgContainer .imgWrapper .imageComment {
    padding: 2px 5px;
    font-size: 15px;
    border: 1px solid #ccc;
}

@media screen and (min-width: 30em) {
    #imgContainer .imgWrapper {
        width: 50%;
    }
}

@media screen and (min-width: 50em) {
    #imgContainer .imgWrapper {
        width: 33%;
        margin-left: 0.3333%;
    }
}


/* fallback for earlier versions of Firefox */

@supports not (flex-wrap: wrap) {
    div#imgContainer {
        display: block;
    }
    div#imgContainer .imgWrapper {
        display: inline-block;
        vertical-align: top;
    }
}

.clickable {
    cursor: pointer;
}


/* VideoList *****************************************************************/

.video-box {
    background-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.video-box>video {
    max-width: 100%;
}

.video-box>.infoWrapper {
    padding: 5px;
}


/* largeImage ****************************************************************/

.largeImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.largeImage .overlay {
    background-color: rgba( 0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.largeImage img {
    max-width: 95vw;
    max-height: 95vh;
    margin-top: 2.5vh;
}


/*****************************************************************************/